In [5]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

In [12]:
df = pd.read_csv('/Users/Aziz/Desktop/Machine-Learning-Final-Project/resources/nyc-rolling-sales.csv')

In [13]:
df.drop(['Unnamed: 0','ADDRESS','EASE-MENT','APARTMENT NUMBER','SALE DATE','NEIGHBORHOOD','BUILDING CLASS AT PRESENT','BUILDING CLASS AT TIME OF SALE'],inplace=True, axis=1)
df.head()

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
0,1,07 RENTALS - WALKUP APARTMENTS,2A,392,6,10009,5,0,5,1633,6440,1900,2,6625000
1,1,07 RENTALS - WALKUP APARTMENTS,2,399,26,10009,28,3,31,4616,18690,1900,2,-
2,1,07 RENTALS - WALKUP APARTMENTS,2,399,39,10009,16,1,17,2212,7803,1900,2,-
3,1,07 RENTALS - WALKUP APARTMENTS,2B,402,21,10009,10,0,10,2272,6794,1913,2,3936272
4,1,07 RENTALS - WALKUP APARTMENTS,2A,404,55,10009,6,0,6,2369,4615,1900,2,8000000

In [15]:
df['BOROUGH'][df['BOROUGH'] == 1] = 'Manhattan'
df['BOROUGH'][df['BOROUGH'] == 2] = 'Bronx'
df['BOROUGH'][df['BOROUGH'] == 3] = 'Brooklyn'
df['BOROUGH'][df['BOROUGH'] == 4] = 'Queens'
df['BOROUGH'][df['BOROUGH'] == 5] = 'Staten Island'
df.head()

/Users/Aziz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
0,Manhattan,07 RENTALS - WALKUP APARTMENTS,2A,392,6,10009,5,0,5,1633,6440,1900,2,6625000
1,Manhattan,07 RENTALS - WALKUP APARTMENTS,2,399,26,10009,28,3,31,4616,18690,1900,2,-
2,Manhattan,07 RENTALS - WALKUP APARTMENTS,2,399,39,10009,16,1,17,2212,7803,1900,2,-
3,Manhattan,07 RENTALS - WALKUP APARTMENTS,2B,402,21,10009,10,0,10,2272,6794,1913,2,3936272
4,Manhattan,07 RENTALS - WALKUP APARTMENTS,2A,404,55,10009,6,0,6,2369,4615,1900,2,8000000

In [16]:
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors='coerce')
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors='coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors='coerce')
df.head()

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
0,Manhattan,07 RENTALS - WALKUP APARTMENTS,2A,392,6,10009,5,0,5,1633.0,6440.0,1900,2,6625000.0
1,Manhattan,07 RENTALS - WALKUP APARTMENTS,2,399,26,10009,28,3,31,4616.0,18690.0,1900,2,NaN
2,Manhattan,07 RENTALS - WALKUP APARTMENTS,2,399,39,10009,16,1,17,2212.0,7803.0,1900,2,NaN
3,Manhattan,07 RENTALS - WALKUP APARTMENTS,2B,402,21,10009,10,0,10,2272.0,6794.0,1913,2,3936272.0
4,Manhattan,07 RENTALS - WALKUP APARTMENTS,2A,404,55,10009,6,0,6,2369.0,4615.0,1900,2,8000000.0

In [22]:
df_replace = df.loc[(df['SALE PRICE'].replace(' -  ','0').astype(float) > 0.00),['BOROUGH','RESIDENTIAL UNITS','COMMERCIAL UNITS','GROSS SQUARE FEET','LAND SQUARE FEET','YEAR BUILT', 'LOT','SALE PRICE']]
df_replace

,BOROUGH,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,LAND SQUARE FEET,YEAR BUILT,LOT,SALE PRICE
0,Manhattan,5,0,6440.0,1633.0,1900,6,6625000.0
3,Manhattan,10,0,6794.0,2272.0,1913,21,3936272.0
4,Manhattan,6,0,4615.0,2369.0,1900,55,8000000.0
6,Manhattan,8,0,4226.0,1750.0,1920,32,3192840.0
9,Manhattan,24,0,18523.0,4489.0,1920,153,16232000.0
11,Manhattan,10,0,12350.0,3717.0,2009,21,10350000.0
12,Manhattan,0,0,NaN,NaN,1920,40,1.0
13,Manhattan,0,0,NaN,NaN,1920,40,499000.0
14,Manhattan,0,0,NaN,NaN,1920,40,10.0
15,Manhattan,0,0,NaN,NaN,1920,40,529500.0
16,Manhattan,0,0,NaN,NaN,1920,40,423000.0
17,Manhattan,0,0,NaN,NaN,1925,46,501000.0
18,Manhattan,0,0,NaN,NaN,1920,49,450000.0
19,Manhattan,0,0,NaN,NaN,1920,49,510000.0
21,Manhattan,0,0,NaN,NaN,1902,30,350000.0
22,Manhattan,24,0,16776.0,4131.0,1928,14,11900000.0
23,Manhattan,0,0,NaN,NaN,1928,14,11900000.0
24,Manhattan,0,0,NaN,NaN,1928,16,350000.0
25,Manhattan,0,0,NaN,NaN,1928,16,404000.0
26,Manhattan,0,0,NaN,NaN,1910,19,535000.0
27,Manhattan,0,0,NaN,NaN,1920,54,1400000.0
28,Manhattan,0,0,NaN,NaN,1900,60,866000.0
29,Manhattan,0,0,NaN,NaN,1930,15,355000.0
31,Manhattan,0,0,NaN,NaN,1900,21,805000.0
32,Manhattan,0,0,NaN,NaN,1910,49,475000.0
33,Manhattan,0,0,NaN,NaN,1920,50,450000.0
34,Manhattan,0,0,NaN,NaN,1920,50,450000.0
35,Manhattan,0,0,NaN,NaN,1935,55,810000.0
37,Manhattan,0,0,NaN,NaN,1910,14,300000.0
38,Manhattan,0,0,NaN,NaN,1910,14,300000.0
...,...,...,...,...,...,...,...,...
84510,Staten Island,2,0,1440.0,2500.0,1987,25,595000.0
84511,Staten Island,2,0,1440.0,2500.0,1987,37,445000.0
84512,Staten Island,2,0,3160.0,8740.0,1986,26,785000.0
84514,Staten Island,2,0,2265.0,2685.0,1984,30,570000.0
84516,Staten Island,2,0,2576.0,3640.0,1984,70,722000.0
84517,Staten Island,2,0,1976.0,2943.0,1984,158,545000.0
84518,Staten Island,2,0,3560.0,11100.0,1989,143,875000.0
84519,Staten Island,2,0,2650.0,21528.0,1985,160,875000.0
84520,Staten Island,2,0,2600.0,5260.0,2001,398,840000.0
84521,Staten Island,2,0,2600.0,8306.0,2001,408,772500.0
84522,Staten Island,2,0,2600.0,5060.0,2001,423,740000.0
84526,Staten Island,2,0,1964.0,2337.0,2010,15,590000.0
84527,Staten Island,2,0,1798.0,2429.0,2010,113,580000.0
84528,Staten Island,2,0,1470.0,3936.0,2004,140,550000.0
84529,Staten Island,2,0,2206.0,6268.0,2010,2,545000.0
84530,Staten Island,2,0,2683.0,10935.0,1998,660,800000.0
84531,Staten Island,2,0,2170.0,4300.0,1998,130,642500.0
84532,Staten Island,2,0,2170.0,4700.0,1998,131,408092.0
84533,Staten Island,2,0,2700.0,3985.0,1996,182,600000.0
84534,Staten Island,2,0,2704.0,3801.0,1996,202,610000.0
84535,Staten Island,2,0,2704.0,7885.0,1996,218,645000.0
84536,Staten Island,2,0,2700.0,3800.0,1996,244,168000.0
84537,Staten Island,2,0,2840.0,4350.0,1996,249,625000.0
84540,Staten Island,2,0,1300.0,3325.0,1995,93,509000.0
84541,Staten Island,2,0,2160.0,11088.0,1994,126,648000.0
84543,Staten Island,2,0,2575.0,2400.0,1998,34,450000.0
84544,Staten Island,2,0,2377.0,2498.0,1998,78,550000.0
84545,Staten Island,2,0,1496.0,4000.0,1925,60,460000.0
84546,Staten Island,0,7,64117.0,208033.0,2001,28,11693337.0
84547,Staten Island,0,1,2400.0,10796.0,2006,679,69300.0

In [21]:
df_replace.to_csv('final.csv', index=False)